*{
  margin: 0;
}
body {
height: 100vh;
}
.navbar {
  height: 80px;
  background-color: white;
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
}
.navbar .menu a {
  padding: 0 20px;
}
.container {
  height: 85%;
  background-image: url("./pic.JPG");  
}
.footer {
  height: 4%;
}
 a {
  font-size: 20px;
}
@media only screen and (min-width: 500px) {
  /* Desktop */
  .menuicon{
   display:none;
 }
}
@media only screen and (max-width: 500px) {
  .navbar {
    align-items: center;
  }
  a{
    display:none;
  }
  .footer {
   height:0;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  
}
.dropdown-content a{
  text-decoration: none;
  font-size:125%;
  
}

.dropdown:hover .dropdown-content {
  display: block;
  
}
.menuicon{
  padding-right:50px;
}
}


