* {
  margin: 0;
}
body {
  height: 100vh;
  font-family: sofia;
}
a {
  font-size: 20px;
}
.navbar {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.navbar .menu a {
  padding: 0 20px;
}
.container {
  height: 85%;
  background-image: url("./pic.JPG");
}
.text-container{
  padding: 0% 25% 35% 25%;
}
.text{
  color:white;
}

.footer {
  height: 4%;
}
.avatar {
  width: 15%;
  height: auto;
  border-radius: 100%;
}
@media only screen and (min-width: 500px) {
  /* Desktop */
  .menuicon {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  /* Mobile */
  .menu {
    display:none;
  }
  .navbar {
    align-items: center;
  }
  .container {
    height: 83%;
    background-image:  url("./pic.JPG"); 
    overflow:scroll;
  }
  .footer {
    height: 6%;
    display:flex;
  justify-content: space-around;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content 
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
  }
  .dropdown-content a{
    text-decoration: none;
    font-size:125%;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  .menuicon{
    padding-right:50px;
  }
}

