*{
  margin: 0;
}
body {
height: 100vh;
}
.navbar {
  height: 80px;
  background-color: white;
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
}
.navbar .menu a {
  padding: 0 20px;
}
h1{
  color: white;
}
.container {
  height: 85%;
  background-image: url("./pic.JPG");  
}
.footer {
  height: 4%;
}
 a {
  font-size: 20px;
}
.menu img {
  padding-right: 10px;
}
@media only screen and (min-width: 500px) {
  /* Desktop */
  .menu img{
    display:none;
  }
}
@media only screen and (max-width: 500px) {
  /* Mobile */
  a{
    display:none;
  }
  .footer {
   height:0;
  }
  .navbar {
    align-items: center;
  }
}


